<br><br>
<button type="button" class="btn btn-info">Add New Player</button>
<br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName </th>
      <th scope="col">LastName</th>
      <th scope="col">DateOfBirth</th>
      <th scope="col">Nationality</th>
      <th scope="col">Position</th>
      <th scope="col">team</th>
      <th scope="col">Details</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>first Name</td>
      <td>Last Name</td>
      <td>DateOfBirth</td>
      <td>Nationality</td>
      <td>Position</td>
      <td>Team</td>
      <td><button type="button" class="btn btn-success">Details</button></td>
      <td><button type="button" class="btn btn-primary">Edit</button></td>
      <td><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>first Name</td>
      <td>Last Name</td>
      <td>DateOfBirth</td>
      <td>Nationality</td>
      <td>Position</td>
      <td>Team</td>
      <td><button type="button" class="btn btn-success">Details</button></td>
      <td><button type="button" class="btn btn-primary">Edit</button></td>
      <td><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>first Name</td>
      <td>Last Name</td>
      <td>DateOfBirth</td>
      <td>Nationality</td>
      <td>Position</td>
      <td>Team</td>
      <td><button type="button" class="btn btn-success">Details</button></td>
      <td><button type="button" class="btn btn-primary">Edit</button></td>
      <td><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>