<br><br>
<button type="button" class="btn btn-info">Add New Team</button>
<br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team Name </th>
      <th scope="col">Founded Year </th>
      <th scope="col">Home City </th>
      <th scope="col">Home Stadium </th>
      <th scope="col">Coach Name </th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Team Name</td>
      <td>Founded Year</td>
      <td>Home City</td>
      <td>Home Stadium</td>
      <td>Coach Name</td>
      <td><button type="button" class="btn btn-success">Details</button></td>
      <td><button type="button" class="btn btn-primary">Edit</button></td>
      <td><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Team Name</td>
      <td>Founded Year</td>
      <td>Home City</td>
      <td>Home Stadium</td>
      <td>Coach Name</td>
      <td><button type="button" class="btn btn-success">Details</button></td>
      <td><button type="button" class="btn btn-primary">Edit</button></td>
      <td><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Team Name</td>
      <td>Founded Year</td>
      <td>Home City</td>
      <td>Home Stadium</td>
      <td>Coach Name</td>
      <td><button type="button" class="btn btn-success">Details</button></td>
      <td><button type="button" class="btn btn-primary">Edit</button></td>
      <td><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>